.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.bg {
  background: radial-gradient(
    circle,
    rgba(255, 240, 247, 1) 0%,
    rgba(173, 198, 228, 1) 100%
  );
  /* background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgb(255, 245, 249) 100%
  ); */
}
.bress-container {
  min-height: 75vh;
}

.wrong-date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrong-date-container h1{
  font-size: 5rem;
  color: black;
}

