@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

* {
  margin: 0;
}

body {
  font-family: "Cookie", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

body::-webkit-scrollbar {
  display: none;
}
